extends layout

block content

  main.container-fluid.mt-4
    div.row
      div.col.mb-3
        h1 About

    div.row
      div.col-12.col-sm-8
        p.lead I'm a front end & web applications developer, with expertise in Angular, AngularJS.
        p I live in Vermont, and work as a front end developer at the #[a(href='https://www.veic.org/') Vermont Energy Investment Corporation].
        p I have worked on #[a(href="https://www.efficiencyvermont.com/find-contractor-retailer") AngularJS applications] used by thousands of people a month, #[a(href="http://www.efficiencysmart.org") Orchard CMS websites] that help people save money and energy, and #[a(href="https://rebates.efficiencyvermont.com") eCommerce platforms] as well.
        p In my spare time, I enjoy working on different side projects, like this #[a(href="http://www.thisisyourcareerpath.com/") MEAN stack application] developed in 24 hours for a hackathon. I'm also actively developing #[a(href="https://github.com/JorgeValle/Antares") a simple Node and Express CMS], which this site is running on.
        p I also work out and practice Brazilian Jiu Jitsu when time allows.

        h3.mb-3 Timeline
        p Some of my professional and personal milestones.
        table.table
          thead
            tr
              th Date
              th Event
          tbody
            tr
              td December, 2017
              td Lived in Croatia for almost 10 weeks, working on an app
            tr
              td July, 2017
              td Visited Croatia and Italy
            tr
              td June, 2017
              td Attended UX Burlington, in Burlington
            tr
              td April, 2017
              td Started work on Antares, the CMS this website is running on
            tr
              td February, 2017
              td Attended Orchard Harvest, in New York City
            tr
              td January, 2017
              td Received a Certificate in Digital Analytics for Marketing Professionals from University of Illinois at Urbana-Champaign
            tr
              td January, 2017
              td Received a Certificate in Internet History, Technology and Security from the University of Michigan
            tr
              td January, 2017
              td Launched the new Efficiency Smart website
            tr
              td November, 2016
              td Competed at the Vermont Open grappling tournament
            tr
              td October, 2016
              td Competed in Hack VT
            tr
              td July, 2016
              td Competed at IBJJF New York Summer Open, in New York City
            tr
              td June, 2016
              td Attended UX Burlington, in Burlington
            tr
              td April, 2016
              td Received my BJJ blue belt
            tr
              td March, 2016
              td Competed at the Vermont Open grappling tournament
            tr
              td January, 2016
              td Launched the new Efficiency Vermont website
            tr
              td June, 2015
              td Attended UX Burlington, in Burlington
            tr
              td May, 2015
              td Launched the new Way To Go Vermont website
            tr
              td December, 2014
              td Visited Belgium and Holland
            tr
              td December, 2014
              td Received a Certificate in Javascript: AJAX and Json from O'Reilly School of Technology
            tr
              td October, 2014
              td Attended The Future of Web Apps conference, in Boston
            tr
              td February, 2014
              td Started work at Vermont Energy Investment Corporation
            tr
              td June 24, 2012
              td Launched Sipi, a business review site for El Salvador
            tr
              td January, 2012
              td Incorporated Servicios Integrales Pro Imagen, a web development company in El Salvador
            tr
              td May, 2008
              td Received Bachelor of Media Arts degree from Emily Carr University