extends layout

block content

  -var prettify = function(dateString) { var date = new Date(dateString), d = date.getDate(dateString), monthNames = ['January', 'February', 'March', 'April', 'May', 'June','July', 'August', 'September','October', 'November', 'December'],m = monthNames[date.getMonth()],y = date.getFullYear();return m + ' ' + d + ', ' + y;}

  //- h2 Blog
  //- p.lead I blog about front end development, user interfaces and tech at large.
  each post in apiResponse
    a(href=`/blog/${post.content.slug}`)
      h2 #{post.content.title}
    em &nbsp;#{prettify(post.date.created)}
    p !{post.content.bodies[0].substr(0, 300) + '...'}

  h2
    a(hre="#") Why Bitcoin should fail
  em
    time(datetime="") October 16, 2018
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed vestibulum lorem, sit amet ultrices purus. Sed felis nulla, lacinia efficitur sollicitudin et, pulvinar a erat. Vivamus pellentesque erat ipsum, quis molestie enim malesuada ac. Morbi sed rutrum risus, non interdum ipsum. Nulla sollicitudin elit nec tempor finibus.

  h2
    a(hre="#") JavaScript's array method
  em
    time(datetime="") October 16, 2018
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed vestibulum lorem, sit amet ultrices purus. Sed felis nulla, lacinia efficitur sollicitudin et, pulvinar a erat. Vivamus pellentesque erat ipsum, quis molestie enim malesuada ac. Morbi sed rutrum risus, non interdum ipsum. Nulla sollicitudin elit nec tempor finibus.

  h2
    a(hre="#") That other post
  em
    time(datetime="") October 16, 2018
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed vestibulum lorem, sit amet ultrices purus. Sed felis nulla, lacinia efficitur sollicitudin et, pulvinar a erat. Vivamus pellentesque erat ipsum, quis molestie enim malesuada ac. Morbi sed rutrum risus, non interdum ipsum. Nulla sollicitudin elit nec tempor finibus.