extends layout

block content

  main.container-fluid.mt-3
    div.row
      div.col.mb-3
        h1 Blog
    div.row
      div.col-12
        p.lead I blog about front end development, user interfaces and tech at large.
    div.row.mt-4
      each content in apiResponse
        div.col-12.col-sm-12.col-md-4
          div.card.mb-3
            a(href='/blog/' + content.url)
              h2.card-header.h5 #{content.title}
            div.card-body
              p.card-text !{content.bodyOne.substr(0, 150) + '...'}