section#cookie-consent
  small I use cookies on the site to improve your experience, and increase the relevance of potential advertising. I assume this is ok with you, but you can consent explicitly by clicking accept. If you are interested, you can #[a(href="https://gdpr-info.eu/", title="The General Data Protection Regulation") read more about GDPR].
  button#accept-cookies Accept