div(style="border-top: 1px solid #00BFFF;").col-12.pt-3.pb-3
  small.pb-3 The work on this website is licensed under a&nbsp;
    a(href='https://creativecommons.org/licenses/by/4.0/') Creative Commons Attribution 4.0 International License.
    span &nbsp;&copy; 2017-2018 Jorge Valle