footer.footer
  //- hr
  small
    p © 2017-2019 Jorge Valle. This work is licensed under a #[a(href="https://creativecommons.org/licenses/by-nc/4.0/legalcode", title="Essentially: you can share and adapt, but with attribution and not for commercial purposes") Creative Commons Attribution-NonCommercial 4.0 International License]. Please #[a(href="/privacy-policy", title="Read the privacy policy") read the privacy policy].