header
  h1 Jorge Valle
  p I'm a front end developer with a particular passion for JavaScript, user interfaces, and web applications. Lately, I'm also getting into machine learning.
  ul
    li
      i.material-icons home
      a(href="/", title="What I do, with links to work, and social media profiles") Home
    li
      i.material-icons event
      a(href="/timeline", title="A timeline view of my professional and personal life") Timeline
    li
      i.material-icons create
      a(href="/blog", title="Posts focusing on JavaScript and user interfaces: and lately, deep learning") Blog