header
  h1 Jorge Valle
  ul
    li
      a(href="/", title="What I do, with links to work, and social media profiles")
        //- i.material-icons home
        span Home
    li
      a(href="/timeline", title="A timeline view of my professional and personal life")
        //- i.material-icons event
        span Timeline
    li
      a(href="/blog", title="Posts focusing on JavaScript and user interfaces: and lately, deep learning")
        //- i.material-icons create
        span Blog