extends layout

block content

  h2 Home

  p.lead I'm a front end & web applications developer, currently living in Vermont.
  p I'm currently working on a new release for #[a(href="https://www.efficiencyvermont.com/find-contractor-retailer") an AngularJS app that helps keep Vermont green] .
  p Along with my team, we are also further developing a few Orchard CMS websites: one is for an energy efficiency utlity in Ohio, #[a(href="http://www.efficiencysmart.org") Efficiency Smart]. The other is a similar utility in our nation's capital, the #[a(href="http://www.dcseu.com") DC Sustainable Energy Utility].
  p We also develop and maintain sites for #[a(href="https://www.driveelectricvt.com") organizations that promote electric vehicles].