extends layout

block content

  include sidebar

  article
    h2 
      span Home

    p I'm a front end developer with a particular interest and expertise in JavaScript and user interfaces. I love the marriage of form and function.
    p Lately, I have been diving into deep learning, and reconnecting with my interest in linear algebra and multivariate calculus. I'm looking forward to blogging more about this journey.
    p A good place to keep up to date with what I'm doing is #[a(href="https://github.com/JorgeValle", title="Where many of my applications live" ) my Github page], where a lot of my software lives. I can also be reached on #[a(href="https://stackoverflow.com/users/3371677/jorge-valle", title="Where I ask and answer questions regarding software" ) my Stack Overflow page]. I'm mostly active on posts tagged with JavaScript and front end.
    p #[a(href="/blog", title="Posts focusing on JavaScript, deep learning, and web development") Reading my blog] is always a good way to check out where my mind is at. I write about what I know, what I'm learning, and what I'm exploring.
    p Spam, etc can be sent to #[a(href="mailto:jorge.e.valle@gmail.com") jorge.e.valle@gmail.com].
    p Finally, here's a few projects I've been involved with over the last few years.

    div.

    ul(style="float: left")
      li
        a(href="https://www.efficiencyvermont.com/") Efficiency Vermont
      li
        a(href="https://www.veic.org/") VEIC
      li
        a(href="https://www.sipi.app") Sipi
      li
        a(href="http://efficiencysmart.org/") Efficiency Smart