extends layout

block content

  main.container-fluid.mt-4

    div.row
      div.col-12.col-sm-8
        p.lead I'm a front end & web applications developer, currently living in Vermont.

        h2 Current projects
        p I have worked on #[a(href="https://www.efficiencyvermont.com/find-contractor-retailer") AngularJS applications] used by thousands of people a month, #[a(href="http://www.efficiencysmart.org") Orchard CMS websites] that help people save money and energy, and #[a(href="https://rebates.efficiencyvermont.com") eCommerce platforms] as well.

        h2 Open-source

        h2 Blog

        p I live in Vermont, and work as a front end developer at the #[a(href='https://www.veic.org/') Vermont Energy Investment Corporation].
       
        p In my spare time, I enjoy working on different side projects, like this #[a(href="http://www.thisisyourcareerpath.com/") MEAN stack application] developed in 24 hours for a hackathon. I'm also actively developing #[a(href="https://github.com/JorgeValle/Antares") a simple Node and Express CMS], which this site is running on.
        p I also work out and practice Brazilian Jiu Jitsu when time allows.