extends layout

block content

  h2 Home

  p I'm a software developer with a particular interest in JavaScript, web development, and deep learning.
  p A good place to keep up to date with what I'm doing is #[a(href="https://github.com/JorgeValle", title="Where many of my applications live" ) my Github page], where a lot of my software lives. Please note that not all my apps are public; private work can be sent upon request.
  p If you're also a developer and want to connect, you can always reach me on #[a(href="https://stackoverflow.com/users/3371677/jorge-valle", title="Where I ask and answer questions regarding software" ) my Stack Overflow page]. I'm mostly active on posts tagged with JavaScript and machine learning.
  p Finally, #[a(href="/blog", title="Posts focusing on JavaScript, deep learning, and web development") reading my blog] is always a good way to check out where my mind is at.