extends layout

block content

  main.container-fluid.mt-4

    div.row
      div.col.mb-3
        h1 Home
    div.row
      div.col-8
        p.lead I'm a front end & web applications developer, currently living in Vermont.
      div.col-8
        h2 Current projects
        p I'm currently working on a new release for #[a(href="https://www.efficiencyvermont.com/find-contractor-retailer") an AngularJS app that helps keep Vermont green] .
        p Along with my team, we are also further developing a few Orchard CMS websites: one is for an energy efficiency utlity in Ohio, #[a(href="http://www.efficiencysmart.org") Efficiency Smart]. The other is a similar utility in our nation's capital, the #[a(href="http://www.dcseu.com") DC Sustainable Energy Utility].
        p We also develop and maintain sites for #[a(href="https://www.driveelectricvt.com") organizations that promote electric vehicles]. 
      div.col-8
        h2 Open-source
        p The codebase this site is running on is on #[a(href="https://github.com/JorgeValle") my Github]. It's built using Express and Mongoose, with Pug templates.
        p There are also a few examples of Angular projects there.
      div.col-8
        h2 Blog
        p I blog mostly about front end engineering, JavaScript, Angular, AngularJS and user interfaces.
        p My latest blog post can be found on #[a(href="/blog") my blog page].
        p I'm also currently laying out the groundwork for my first book, which I plan will be wrapped up by the end of the year.