p.lead I blog about a lot of different facets of web development, but mostly about JavaScript, Node.js, Angular, AngularJS and the .NET framework.

p If this sounds interesting to you, please subscribe.

form.form-inline(action='//jorgevalle.createsend.com/t/d/s/xggt/', method='POST')
  div.input-group.mb-5
    input.form-control(id='email-address', type='email', name='cm-xggt-xggt', placeholder='email address', required='required')
    span.input-group-btn
      button.btn.btn-warning(type='submit') Subscribe