extends layout

block content

  main.container-fluid.mt-4
    div.row
      div.col-12
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/blog') Blog
          li.breadcrumb-item.active=title
          
      div.row
        div.col-12
          h1=title
          p.lead.text-muted #{date}
          div !{bodyOne}
