section.profile
  img(src="/front/assets/images/jorge-valle.jpg", alt="Jorge Valle", title="Jorge Valle")
  div
    p(itemscope, itemprop="Person", itemtype="http://schema.org/Person") #[span(itemprop="name") Jorge Valle] is a #[span(itemprop="description") front end developer with a particular passion for, and expertise in, JavaScript and user interfaces. Lately, he's also been diving into machine learning.]