aside.sidebar

  div.signup
    h3
      i.material-icons mail_outline
      span Subscribe

    p Join me on my journey to master my craft.

    div
      form(action="https://jorgevalle.us7.list-manage.com/subscribe/post?u=1efda24b55b7d38309a121640&amp;id=80b8eb629b", method="post")
        label(for="email") Email address
        input(type="email", placeholder="name@example.com", name="email")

  //- div.news
  //-   h3
  //-     i.material-icons info
  //-     span News

  //-   p I'm writing a book. Help me figure out a good title.

  //-   a(hre="#") Take 1-question survey