aside
  img(src="https://placehold.it/144x144", alt="Jorge Valle", title="Jorge Valle")
  div
    p I'm a front end developer with a particular passion for, and expertise in, JavaScript and user interfaces.
    p Lately, I've also been diving into machine learning.