aside.sidebar

  div.signup
    h3
      i.material-icons mail_outline
      span Subscribe

    p Join me on my journey to master my craft.

    div
      form(action="https://jorgevalle.us7.list-manage.com/subscribe/post?u=1efda24b55b7d38309a121640&amp;id=80b8eb629b", method="post")
        label(for="email") Email address
        input(type="email", placeholder="name@example.com", name="email")

  div.news
    h3
      i.material-icons book
      span Book

    p I'm writing a book on front end development. Care to help me figure out a good title for it?

    a(href="https://docs.google.com/forms/d/e/1FAIpQLSfMl8YBDRS96Rp2aHlsP1p4RU_gpE2rguUAayfskznL3Mhwcw/viewform?usp=sf_link") Take 1-question survey