section.signup

  h3
    i.material-icons mail_outline
    span Subscribe

  p Join me in my journey to master my craft.

  div
    form(action="https://jorgevalle.us7.list-manage.com/subscribe/post?u=1efda24b55b7d38309a121640&amp;id=80b8eb629b", method="post")
      input(type="email", placeholder="name@example.com", name="EMAIL")
      //- button(type="submit") &gt;

<!--End mc_embed_signup-->

  //- h3 Pick any topic
  //- dl
  //-   dt
  //-     a(href="#") JavaScript
  //-   dt
  //-     a(href="#") TensorFlow
  //-   dt
  //-     a(href="#") Machine Learning
  //-   dt
  //-     a(href="#") User Interfaces

  //- h3 The latest and greatest

  //- p Praesent eros dolor, efficitur vel ultrices vitae, blandit rhoncus mauris. Aenean at sagittis metus. 