div.signature-side
div.signature
  p(itemscope, itemprop="Person", itemtype="http://schema.org/Person") #[span(itemprop="name") Jorge Valle] is an #[span(itemprop="description") application developer with a focus on JavaScript, web development and machine learning].
  small You can reach him on #[a(href="https://github.com/JorgeValle", title="Jorge's Github profile") Github] or #[a(href="https://stackoverflow.com/users/3371677/jorge-valle", title="Jorge's Stack Overflow profile") Stack Overflow].