<?xml version="1.0" encoding="UTF-8"?>
urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
  url
    loc='https://jorgevalle.com'
  url
    loc='https://jorgevalle.com/timeline'
  url
    loc='https://jorgevalle.com/blog'
  each post in posts
    url
      loc='https://jorgevalle.com/blog/' + post.content.slug