extends layout

block content

  main.container-fluid.mt-4
    div.row
      div.col
        h1 Thanks for signing up

    div.row.mt-3
      div.col-xs-12.col-sm-12.col-md-4
        p You'll be hearing from me soon.