extends layout

block content

  // Jorge's profile
  include profile

  // The timeline
  article.content
    h1.post-title Timeline
    p A selection of events from my professional and personal life.

    -var prettify = function(dateString) { var date = new Date(dateString), d = date.getDate(dateString), monthNames = ['January', 'February', 'March', 'April', 'May', 'June','July', 'August', 'September','October', 'November', 'December'],m = monthNames[date.getMonth()],y = date.getFullYear();return m + ' ' + y;}

      table
        thead
          tr
            th Date
            th Event
        tbody
        each event in events
          tr
            td
              time(datetime="!{event.content.date}") #{prettify(event.content.date)}
            td !{event.content.name}

  // The sidebar area
  include sidebar