$black: #000000;
$white: #ffffff;

$dark-grey: darken($white, 89%);
$middle-grey: darken($white, 55%);
$light-grey: darken($white, 21%);
$practically-white: darken($white, 1%);

$the-one-color: #00CED1;
$the-one-color-value: "00CED1";