// The cookie consent section
section#cookie-consent {

  
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;

  // Position
  position: fixed;
  left: 0;
  bottom: 0;

  // Padding
  padding-top: $base-unit * fibonacci(3);
  padding-bottom: $base-unit * fibonacci(4);
  padding-right: $base-unit * fibonacci(5);
  padding-left: $base-unit * fibonacci(5);

  // Backgrounds
  background-color: $black;
  background-image: $dotted;

  // Border
  border-top: 1px solid $light-grey;

  // Z-index
  z-index: 2;
  
  small {
    grid-row: 1;
    grid-column: 1;

    // Margin
    margin-bottom: $base-unit * fibonacci(3);

    // Padding
    padding-right: 0;

    // Color
    color: $practically-white;
  }

  button {
    grid-row: 2;
    grid-column: 1;
  }

  // On medium
  @media screen and (min-width: $break-medium) {

    grid-template-columns: 8fr 1fr;
    grid-template-rows: auto;

    // Padding
    padding-top: $base-unit * fibonacci(4);
    padding-right: $base-unit * fibonacci(4);

    small {
      grid-row: 1;
      grid-column: 1;

      // Padding
      padding-right: $base-unit * fibonacci(3);

    }

    button {
      grid-row: 1;
      grid-column: 2;
    }

  }

}