footer {

  color: $dark-grey;
  display: grid;
  padding-top: $base-unit * fibonacci(4);
  padding-right: $base-unit * fibonacci(5);
  padding-bottom: $base-unit * fibonacci(5);
  padding-left: $base-unit * fibonacci(5);

  // @include cast-shadow($main-shadow);

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid $the-one-color;
  }

  // Paragraph
  p {
    margin-bottom: $base-unit * fibonacci(3);
  }

  // On narrow
  @media screen and (min-width: $break-narrow) {
  }

  // On medium
  @media screen and (min-width: $break-narrow) {
  
  }

  // On wide
  @media screen and (min-width: $break-narrow) {
  
  }

}