header {

  display: grid;
  padding-left: $base-unit * fibonacci(6);
  padding-right: $base-unit * fibonacci(6);

  // On narrow
  @media screen and (min-width: $break-narrow) {

    grid-template-columns: 100%;
    grid-template-rows: 89px 144px auto;

    // The "Jorge Valle" title
    h1 {
      grid-column: 1;
      grid-row: 1;
    }

    // The short bio
    p {
      grid-column: 1;
      grid-row: 2;
    }

    // The nav links
    ul {

      grid-column: 1;
      grid-row: 3;
      list-style-type: none;
      padding: 0;

      // li {
      //   // display: inline;
      //   list-style-type: katakana;
      // }

      li:not(:first-child) {
        margin-top: $base-unit * fibonacci(3);
      }
    }
  }

  // On medium
  @media screen and (min-width: $break-narrow) {
    grid-template-columns: 55% 34%;
    grid-template-rows: 89px 144px auto;

    // The "Jorge Valle" title
    h1 {
      grid-column: 1;
      grid-row: 1;
    }

    // The short bio
    p {
      grid-column: 1;
      grid-row: 2;
    }

    // The nav links
    ul {

      grid-column: 1;
      grid-row: 3;
      list-style-type: none;
      padding: 0;

      // li {
      //   // display: inline;
      //   list-style-type: katakana;
      // }

      li:not(:first-child) {
        margin-top: $base-unit * fibonacci(3);
      }
    }
  }

  // On wide
  @media screen and (min-width: $break-narrow) {
    grid-template-columns: 100%;
    grid-template-rows: 89px 144px auto;

    // The "Jorge Valle" title
    h1 {
      grid-column: 1;
      grid-row: 1;
    }

    // The short bio
    p {
      grid-column: 1;
      grid-row: 2;
    }

    // The nav links
    ul {

      grid-column: 1;
      grid-row: 3;
      list-style-type: none;
      padding: 0;

      li:not(:first-child) {
        margin-top: $base-unit * fibonacci(3);
      }
    }
  }
  

}