header {

  display: grid;
  padding-left: $base-unit * fibonacci(6);
  padding-right: $base-unit * fibonacci(6);
  border-bottom: 1px solid $light-grey;

  grid-template-columns: 100%;
  grid-template-rows: auto auto;

  // The "Jorge Valle" title
  .brand {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.8em;
    line-height: 1.1em;
  }

  // The nav links
  .main-nav {

    grid-column: 1;
    grid-row: 2;

    ul {

      list-style-type: none;
  
      li {
        display: inline;
        padding-right: $base-unit * fibonacci(4);
      }
  
      li:not(:first-child) {
        padding-right: $base-unit * fibonacci(3);
      }
    }
  }

  .social {
    display: none;
  }


  // On medium and wide
  @media screen and (min-width: $break-medium) {

    grid-template-columns: 34% 55% 21% auto;
    grid-template-rows: auto;

    // The "Jorge Valle" title
    .brand {
      grid-column: 1;
      grid-row: 1;
    }

    // The nav links

    .main-nav {

      grid-column: 2;
      grid-row: 1;

      padding-left: $base-unit * fibonacci(5);

      ul {

        list-style-type: none;  

        li {
          display: inline;
          padding-right: $base-unit * fibonacci(4);
        }
  
        li:not(:first-child) {
          padding-right: $base-unit * fibonacci(3);
        }
      }
    }
    

    // The social icons
    .social {
      display: block;
      grid-column: 3;
      grid-row: 1;
    }


  }

}