header {

  display: grid;
  padding-left: $base-unit * fibonacci(6);
  padding-right: $base-unit * fibonacci(6);
  border-bottom: 1px solid $light-grey;

  grid-template-columns: 100%;
  grid-template-rows: auto auto;

  // The "Jorge Valle" title
  h1 {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.8em;
    line-height: 1.1em;
  }

  // The nav links
  ul {

    grid-column: 1;
    grid-row: 2;
    list-style-type: none;
    padding: 0;

    li {
      display: inline;
      padding-right: $base-unit * fibonacci(4);
    }

    li:not(:first-child) {
      padding-right: $base-unit * fibonacci(3);
    }
  }


  // On medium and wide
  @media screen and (min-width: $break-medium) {
    grid-template-columns: 34% 55%;
    grid-template-rows: auto;

    // The "Jorge Valle" title
    h1 {
      grid-column: 1;
      grid-row: 1;
    }

    // The nav links
    ul {

      grid-column: 2;
      grid-row: 1;
      list-style-type: none;
      padding: 0;

      padding-right: $base-unit * fibonacci(6);
      padding-left: $base-unit * fibonacci(6);

      li {
        display: inline;
        padding-right: $base-unit * fibonacci(4);
      }

      li:not(:first-child) {
        padding-right: $base-unit * fibonacci(3);
      }
    }
  }

}