main {

  display: grid;
  padding-left: $base-unit * fibonacci(6);
  padding-right: $base-unit * fibonacci(6);

  // On narrow
  @media screen and (min-width: $break-narrow) {

    grid-template-columns: 100%;
    grid-template-rows: auto;

  }

  // On medium
  @media screen and (min-width: $break-narrow) {

    grid-template-columns: 100%;
    grid-template-rows: auto;

    border-left: 1px solid $the-one-color;

  }

  // On wide
  @media screen and (min-width: $break-narrow) {

    grid-template-columns: 100%;
    grid-template-rows: auto;

  }

}