section.signup {

  // Padding
  padding-top: $base-unit * fibonacci(5);
  padding-right: $base-unit * fibonacci(5);
  padding-bottom: $base-unit * fibonacci(6);
  padding-left: $base-unit * fibonacci(5);

  i.material-icons {
    padding-right: $base-unit * fibonacci(2);
    display: inline;
  }

  span {
    padding-right: $base-unit * fibonacci(3);
    font-size: 0.9em;
  }

  h3 {
    margin-bottom: $base-unit * fibonacci(4);
  }

  // The form
  form {

    font-family: $sans-serif;

    label {
      display: none;
    }

    input {
      margin: 0;
      border: 1px solid $light-grey;
      padding: $base-unit * fibonacci(3);
      height: 100%;
      vertical-align: bottom;
      width: 89%;
      box-sizing: content-box;
      border-radius: 0;
    }

    button {
      float: left;
      width: 21%;
      border-left: none;
      padding-top: 8px;
      padding-bottom: 9px; // Have to get this to Fibonacci later
      height: 75%;
      box-sizing: content-box;
    }
  }

  // On medium and wide
  @media screen and (min-width: $break-medium) {


  }
  
}