.signup {

  i.material-icons {
    padding-right: $base-unit * fibonacci(3);
    display: inline;
  }

  span {
    padding-right: $base-unit * fibonacci(4);
    font-size: 0.9em;
  }

  form {

    font-family: $sans-serif;

    input {

      margin: 0;
      border: 1px solid $light-grey;
      padding: 11px; // Have to get this to Fibonacci later
      height: 100%;
      vertical-align: bottom;
      float: left;
      width: 100%;
      box-sizing: content-box;
      border-radius: 0;
    }

    button {
      float: left;
      width: 21%;
      border-left: none;
      padding-top: 8px;
      padding-bottom: 9px; // Have to get this to Fibonacci later
      height: 75%;
      box-sizing: content-box;

    }

  }

  // On wide
  @media screen and (min-width: $break-medium) {

    display: inline;

    input {
      width: 100%;
    }

  }
  
}