@charset "UTF-8";
html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
  color: #1c1c1c;
}

a {
  color: inherit;
  text-decoration: underline;
}

.heading-shared {
  font-family: Domine;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Domine;
}

small {
  font-size: 0.8em;
}

time {
  color: #1c1c1c;
  font-style: italic;
}

table th,
table td {
  padding: 0.5rem;
  border-top: 1px solid #c9c9c9;
}

button {
  background-color: #ffffff;
  border: 1px solid #c9c9c9;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 400;
  padding: 15px;
  font-size: 0.9em;
}
button:hover {
  color: #ffffff;
  background-color: #00CED1;
}

i.material-icons {
  color: #737373;
  vertical-align: middle;
  padding-right: 10px;
}

body {
  display: grid;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  body .image {
    grid-column: 1;
    grid-row: 1;
  }
  body header {
    grid-column: 1;
    grid-row: 2;
  }
  body main {
    grid-column: 1;
    grid-row: 3;
  }
  body footer {
    grid-column: 1/span 3;
    grid-row: 3;
  }
}
@media screen and (min-width: 768px) {
  body {
    grid-template-columns: 21% 34% 13%;
    grid-template-rows: auto auto auto;
  }
  body .image {
    grid-column: 1/span 2;
    grid-row: 1;
  }
  body header {
    grid-column: 1;
    grid-row: 2;
  }
  body main {
    grid-column: 2/span 3;
    grid-row: 2;
  }
  body footer {
    grid-column: 1/span 3;
    grid-row: 3;
  }
}
@media screen and (min-width: 1100px) {
  body {
    grid-template-columns: 26.25% 42.5% 16.25% 11.25%;
    grid-template-rows: auto auto auto;
  }
  body .image {
    grid-column: 1/span 2;
    grid-row: 1;
  }
  body header {
    grid-column: 1;
    grid-row: 2;
  }
  body main {
    grid-column: 2/span 2;
    grid-row: 2;
  }
  body footer {
    grid-column: 1/span 4;
    grid-row: 3;
  }
}

header {
  display: grid;
  padding-left: 39px;
  padding-right: 39px;
  background-color: #ffffff;
  -webkit-box-shadow: 47px 52px 50px -6px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 47px 52px 50px -6px rgba(0, 0, 0, 0.35);
  box-shadow: 47px 52px 50px -6px rgba(0, 0, 0, 0.35);
}
@media screen and (min-width: 320px) {
  header {
    grid-template-columns: 100%;
    grid-template-rows: 89px 144px auto;
  }
  header h1 {
    grid-column: 1;
    grid-row: 1;
  }
  header p {
    grid-column: 1;
    grid-row: 2;
  }
  header ul {
    grid-column: 1;
    grid-row: 3;
    list-style-type: none;
    padding: 0;
  }
  header ul li:not(:first-child) {
    margin-top: 9px;
  }
}
@media screen and (min-width: 320px) {
  header {
    grid-template-columns: 55% 34%;
    grid-template-rows: 89px 144px auto;
  }
  header h1 {
    grid-column: 1;
    grid-row: 1;
  }
  header p {
    grid-column: 1;
    grid-row: 2;
  }
  header ul {
    grid-column: 1;
    grid-row: 3;
    list-style-type: none;
    padding: 0;
  }
  header ul li:not(:first-child) {
    margin-top: 9px;
  }
}
@media screen and (min-width: 320px) {
  header {
    grid-template-columns: 100%;
    grid-template-rows: 89px 144px auto;
  }
  header h1 {
    grid-column: 1;
    grid-row: 1;
  }
  header p {
    grid-column: 1;
    grid-row: 2;
  }
  header ul {
    grid-column: 1;
    grid-row: 3;
    list-style-type: none;
    padding: 0;
  }
  header ul li:not(:first-child) {
    margin-top: 9px;
  }
}

main {
  display: grid;
  padding-left: 39px;
  padding-right: 39px;
  background-color: #ffffff;
  -webkit-box-shadow: 47px 52px 50px -6px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 47px 52px 50px -6px rgba(0, 0, 0, 0.35);
  box-shadow: 47px 52px 50px -6px rgba(0, 0, 0, 0.35);
}
main h3::before {
  content: "§";
}
@media screen and (min-width: 320px) {
  main {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
}
@media screen and (min-width: 320px) {
  main {
    grid-template-columns: 55% 34%;
    grid-template-rows: auto auto auto;
    border-left: 1px solid #00CED1;
  }
}
@media screen and (min-width: 320px) {
  main {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
}

footer {
  color: #1c1c1c;
  background-color: #ffffff;
  display: grid;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-shadow: 47px 52px 50px -6px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 47px 52px 50px -6px rgba(0, 0, 0, 0.35);
  box-shadow: 47px 52px 50px -6px rgba(0, 0, 0, 0.35);
}
footer hr {
  border: 0;
  height: 0;
  border-top: 1px solid #00CED1;
}
.mjx-chtml {
  font-family: Domine !important;
  margin: 20px 0 15px !important;
  /* text-align: left !important; */
}

.image {
  background-color: #ffffff;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-right: 34px;
}
.image img {
  max-width: 100%;
}

.gist {
  margin: 20px 0 15px;
}

.gist .gist-meta {
  display: none;
}

.social-sharing {
  font-family: Roboto;
  font-weight: 400;
}
.social-sharing span {
  padding-right: 15px;
  font-size: 0.9em;
}

/*# sourceMappingURL=styles.css.map */
