html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
  color: #1c1c1c;
}

a {
  color: inherit;
  text-decoration: underline;
}

.heading-shared {
  font-family: Domine;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Domine;
}

small {
  font-size: 0.8em;
}

html {
  background-color: #fcfcfc;
}

time {
  color: #1c1c1c;
  font-style: italic;
}

table th,
table td {
  padding: 0.5rem;
  border-top: 1px solid #c9c9c9;
}

button {
  background-color: #ffffff;
  border: 1px solid #c9c9c9;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 400;
  padding: 15px;
  font-size: 0.9em;
}
button:hover {
  color: #ffffff;
  background-color: #FFD700;
}

i.material-icons {
  color: #737373;
  vertical-align: middle;
  padding-right: 10px;
}

body {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
}
body header {
  grid-column: 1;
  grid-row: 1;
}
body main {
  grid-column: 1;
  grid-row: 2;
}
body .image {
  grid-column: 1;
  grid-row: 3;
  display: none;
}
body footer {
  grid-column: 1;
  grid-row: 4;
}
@media screen and (min-width: 800px) {
  body {
    grid-template-columns: 21% 34% 13% 9% 23%;
    grid-template-rows: auto auto auto auto;
  }
  body header {
    grid-column: 1/span 3;
    grid-row: 1;
  }
  body main {
    grid-column: 1/span 4;
    grid-row: 2;
  }
  body .image {
    grid-column: 1/span 3;
    grid-row: 3;
    display: block;
  }
  body footer {
    grid-column: 1/span 4;
    grid-row: 4;
  }
}

header {
  display: grid;
  padding-left: 39px;
  padding-right: 39px;
  border-bottom: 1px solid #c9c9c9;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
}
header h1 {
  grid-column: 1;
  grid-row: 1;
  font-size: 1.8em;
}
header ul {
  grid-column: 1;
  grid-row: 2;
  list-style-type: none;
  padding: 0;
}
header ul li {
  display: inline;
  padding-right: 15px;
}
header ul li:not(:first-child) {
  padding-right: 9px;
}
@media screen and (min-width: 800px) {
  header {
    grid-template-columns: 34% 55%;
    grid-template-rows: auto;
  }
  header h1 {
    grid-column: 1;
    grid-row: 1;
  }
  header ul {
    grid-column: 2;
    grid-row: 1;
    list-style-type: none;
    padding: 0;
  }
  header ul li {
    display: inline;
    padding-right: 15px;
  }
  header ul li:not(:first-child) {
    padding-right: 9px;
  }
}

main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  padding-top: 15px;
  padding-bottom: 39px;
}
main article {
  grid-column: 1;
  grid-row: 1;
  padding-right: 39px;
  padding-left: 39px;
}
main aside {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 34% 55%;
  grid-template-rows: auto;
  padding-right: 39px;
  padding-left: 39px;
}
main aside img {
  grid-row: 1;
  grid-column: 1;
}
main aside div {
  grid-row: 1;
  grid-column: 2;
}
@media screen and (min-width: 800px) {
  main {
    grid-template-columns: 34% 55% 21%;
    grid-template-rows: auto auto;
  }
  main article {
    grid-column: 2;
    grid-row: 1;
    padding-top: 15px;
    padding-right: 39px;
    padding-bottom: 15px;
    padding-left: 39px;
  }
  main aside {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding-top: 15px;
    padding-right: 39px;
    padding-bottom: 15px;
    padding-left: 39px;
  }
  main aside img {
    grid-column: 1;
    grid-row: 1;
  }
  main aside div {
    grid-column: 1;
    grid-row: 2;
  }
}

footer {
  color: #1c1c1c;
  display: grid;
  padding-top: 15px;
  padding-right: 39px;
  padding-bottom: 15px;
  padding-left: 39px;
}
footer hr {
  border: 0;
  height: 0;
  border-top: 1px solid #FFD700;
}
.image img {
  max-width: 100%;
}

.gist {
  margin: 20px 0 15px;
}

.gist .gist-meta {
  display: none;
}

.social-sharing {
  padding-top: 9px;
  padding-bottom: 24px;
  font-family: Roboto;
  font-weight: 400;
}
.social-sharing span {
  padding-right: 15px;
  font-size: 0.9em;
}
.social-sharing button {
  margin-right: 15px;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid #c9c9c9;
}

a:hover {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
