html {
  background-color: #fdfdfd;
}
body {
  font-family: Roboto;
  margin: 0;
}
body .gist .gist-meta {
  display: none;
}
a {
  color: inherit;
  text-decoration: underline;
}
img {
  border: 0;
}
blockquote {
  /* border-left: 8px solid #333333; */
  /* padding-left: 40px; */
  margin: 45px 0;
  padding-left: 30px;
  font-size: 1.3em;
  border-left: 3px solid gray;
}
blockquote::before {
  content: "\201C";
}
blockquote span {
  margin-top: 15px;
  display: block;
  color: #888888;
  font-size: 1.1em;
}
h1,
h2,
h3,
blockquote {
  font-weight: normal;
  /* margin: 0;
  padding: 0; */
  font-family: Domine;
}
time {
  color: #888888;
}
header h2 {
  margin: 15px 0;
}
h1,
h2 {
  font-weight: 700;
}
blockquote span {
  font-family: Roboto;
  font-size: 0.8em;
}
header ul {
  list-style-type: none;
  padding: 0;
}
header ul li {
  display: inline;
  list-style-type: katakana;
}
header ul li:not(:first-child) {
  margin-left: 10px;
}
body {
  display: grid;
  grid-template-columns: 7% 5% calc(200px + 35%) calc(25% - 100px);
  grid-template-rows: auto;
}
header {
  /* margin-top: 15px; */
  grid-column: 2 / 4;
  margin-bottom: 15px;
}
.image {
  grid-column: 1 / 4;
}
.image img {
  max-width: 100%;
  /* height: auto;
  min-height: 100px; */
  /* border-radius: 0px 10px 10px 0px; */
}
.content {
  margin-top: 15px;
  grid-column: 3 / 3;
}
.footer {
  grid-column: 3 / 3;
}
.light-grey {
  background-color: #F7F7F7;
}
.medium-grey {
  background-color: #888888;
}
.dark-grey {
  background-color: #333333;
  color: #333333;
}
table th,
table td {
  padding: .5rem;
  border-top: 1px solid #F7F7F7;
}
li:not(first) {
  margin-top: 5px;
}
footer {
  margin: 30px 0;
  color: #888888;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid #EDEDED;
}
.quote-hr {
  border: 0;
  height: 0;
  border-top: 1px dotted #EDEDED;
}
.gist {
  margin: 20px 0 15px;
}
main h3 {
  margin-top: 45px;
}
main h3::before {
  content: "# ";
  color: #888888;
}
em {
  font-style: normal;
}
.mjx-chtml {
  font-family: Domine !important;
  margin: 20px 0 15px !important;
  /* text-align: left !important; */
}