blockquote {
  margin-top: $base-unit * fibonacci(5);
  margin-bottom: $base-unit * fibonacci(5);
  padding-left: $base-unit * fibonacci(5);
  font-size: 1.2em;
  border-left: 1px solid $light-grey;
  font-weight: 500;

  &:before {
    content: '\201C';
  }

}