$black: #000000;
$white: #ffffff;

$dark-grey: darken($white, 89%);
$middle-grey: darken($white, 55%);
$light-grey: darken($white, 21%);
$lightest-grey: darken($white, 9%);
$practically-white: darken($white, 1%);

$the-one-color: #FFD700;
$the-one-color-value: "FFD700";