main {

  .gist {

    // Shadows
    @include cast-shadow($light-shadow);

    .gist-meta {
      display: none;
    }

    .gist-file {
      border: none;
    }

    table th,
    table td {
      border-top: none;
    }

    .blob-num {
      color: $lightest-grey;
    }

  }
}