ul,
ol {

  // Padding
  padding-left: $base-unit * fibonacci(5);

  li {
    margin-bottom: $base-unit * fibonacci(4);

    ul {
      li {
        margin-top: $base-unit * fibonacci(3);
      }
    }
  }

  // li:not(first) {
  //   margin-top: $base-unit *;
  // }

  &.unbulleted {
    list-style-type: none;
  }

}