$light-shadow: 1px 3px 12px -3px rgba(0, 0, 0, 0.25);
$main-shadow: 47px 52px 50px -6px rgba(0, 0, 0, 0.35);

@mixin cast-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}