.social-sharing {

  // Padding
  padding-top: $base-unit * fibonacci(4);
  padding-bottom: $base-unit * fibonacci(4);
  font-family: $sans-serif;

  i.material-icons {
    padding-right: $base-unit * fibonacci(3);
  }

  span {
    padding-right: $base-unit * fibonacci(4);
    // padding-left: $base-unit * fibonacci(4);
    font-size: 0.9em;
  }

  button {
    padding: $base-unit * fibonacci(4);
    margin-right: $base-unit * fibonacci(4);
  }

  h3 {
    margin-bottom: $base-unit * fibonacci(4);
  }
}