$serif: 'Karma', serif;
$sans-serif: 'Roboto', sans-serif;

body {
  font-family: $serif;
  font-size: 20px; // Per https://learnui.design/blog/mobile-desktop-website-font-size-guidelines.html
  font-weight: 400;
  line-height: 1.6;
  color: $dark-grey;
}

p {
  margin-bottom: $base-unit * fibonacci(5);
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.heading-shared {
  font-family: $sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

small {
  font-size: 0.8em;
}