doctype html
html(lang='en')
  head
    title= documentTitle
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/front/assets/styles/styles.css")

body.container
  header.header
    ul
      li
        a(href='/admin/query') Query
      li
        a(href='/admin/create') Create

  main.content
    block content