extends layout

block content
  h1 Query

  //- iterate over query api response
  each post in apiResponse
    h2
      a(href=`/admin/update?post=${post.content.slug}`)= post.content.title
    p !{post.content.bodies[0].substr(0, 100) + '...'}
    a(href=`/admin/update?post=${post.content.slug}`) Edit